.calendar {
  background-color: #3e85f3;
  border-radius: 16px;
  color: #fff;
}

.header {
  background-color: #3e85f3;
  border-radius: 16px;
  color: #fff;
}

.day {
  background-color: #3e85f3;
  color: #fff;
}
